$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary:#0D6E6E;
$primary2:#4a9d9c;
$primary3:#afffff;
$red:#FF3D3D; 
$accent:#ffe0c8;
$text1:#FFFFFF;
$text2:#e0e0e0;
$text-main:#0D1F2D;  
$bg2:#1d2e3d;
$bg3:#354656; 