@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.login {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    border-radius: 5px;
    background-size: cover;
    height: 77vh;
    
    &__title {
        font-size: 2rem;
        padding-left: 1rem;
        color: $text-main;
        padding-top: 2rem;
        @include tablet {
            text-align: center;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        @include tablet {
            width: 50%;
            align-self: center;
        }
    }
        &__input {
            border-radius: 5px;
            border: none;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
            padding: .5rem;
        }
        &__button {
            border-radius: 5px;
            border: none;
            cursor: pointer;
            background-color: $primary2;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
            padding-top: .5rem;
            padding-bottom: .5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            width: 50%;
            color: $text1;
            font-weight: 600;
            align-self: center;
        }
}