@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    @include tablet {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    @include desktop {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @include tablet {
            flex-direction: row;
            width: 100%;
        }
    }

    &__login {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        background-color: $bg2;
        border-radius: 5px;
        @include tablet {
            width: 50%;
        }
    }
    &__artistInfo {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        @include tablet {
            width: 50%;
        }
    }

    &__label {
        color: $text1;
        font-size: 1.5rem;
    }
    &__label2 {
        color: $text-main;
        font-size: 1.5rem;
    }

    &__input {
        border-radius: 5px;
        border: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
        padding: .5rem;
    }
    &__text {
        border-radius: 5px;
        border: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
        padding: .5rem;
    }
    &__submit {
        border-radius: 5px;
        border: none;
        cursor: pointer;
        background-color: $red;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 50%;
        color: $text1;
        font-weight: 600;
        align-self: center;

        @include tablet {
            width: 30%;
        }
        @include desktop {
            width: 20%;
        }
    }
}