@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.footer {
    background-color: $bg2;
    color: $text1;
    padding: 1rem;
  
  
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  &__logo img {
    width: 4rem; 
  }
  
  &__social-links a {
    color: $text1;
    margin-right: 10px;
  }
  
  &__links a {
    color: $text1;
    margin-right: 20px;
  }
}
  
  
  