@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.landing { 
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

    @include tablet {
        margin-left: 3rem;
        margin-right: 3rem;
    }
    @include desktop {
        flex-direction: row;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__title {
        font-size: 2rem;
        color: $text-main;
    }
    &__par {
        color: $text-main;
    }
    &__buttons {
        display: flex;
        gap: 1rem;
        justify-content: center;

        @include tablet {
            justify-content: flex-start;
        }
    }
        &__button {
            background-color: $primary2;
            color: $text1;
            font-weight: 600;
            border: none;
            border-radius: 5px;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: .25rem;
            padding-top: .25rem;
        }
        &__button--white {
            background-color: $text1;
            color: $primary;
            border: 1px solid $bg2;
        }
    &__image {
        width: 100%;
        border-radius: 5px;

        @include tablet {
            width: 100%;
        }
        @include desktop {
            width: 55%;
        }
    }
}