@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {
    background-color: $bg2;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid $accent;

    @include tablet {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: .25rem;
        text-decoration: none;
    }
    &__nav {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
        &__image {
            height: 2.125rem;
        }
        &__title {
            color: $text1;
            font-weight: 600;
        }
        &__button {
            background-color: $red;
            color: $text1;
            font-weight: 600;
            border: none;
            border-radius: 5px;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: .25rem;
            padding-top: .25rem;
        }
}